In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load Files
school_data = '../Resources/schools_complete.csv'
student_data = '../Resources/students_complete.csv'

In [3]:
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)
# student_df.head()
# student_df.columns

In [4]:
# Merging data into single data set
complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
# complete_df.head()
# complete_df.columns
# complete_df.head()
complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [5]:
# DISTRICT SUMMARY
# ----------------------------------------------------------------------------------------------------------------------------

In [6]:
# Setting Variable and calculate total numbers of schools
school_count = len(complete_df["school_name"].unique())
# school_count

In [7]:
# Setting Variable and calculate total number of students
student_count = len(complete_df["student_name"].unique())
# student_count

In [8]:
# complete_df.dtypes

In [10]:
# Calculate Total Budget -  I'm using groupby method
# make copy of merged data frame
# create data framed grouped by school name column with copy if the merged data frame
complete_copy_df = complete_df.copy()
# complete_copy_df.columns

In [11]:
# group by data frame 
grouped_df = complete_copy_df.groupby(["school_name"])

print(grouped_df)

# grouped_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D3C30808>

In [13]:
# Getting value counts for budgets for each school
# grouped_df["budget"].value_counts()

In [15]:
# create data frame for the average budget for each school, then take sum of the dataframe to get to total budget
school_budgets_df = grouped_df["budget"].mean()
# school_budgets_df.sum()
total_budget = school_budgets_df.sum()
# total_budget

In [17]:
# Calculate Average Math Score
# use grouped data frame,  check value counts for math score
# grouped_df["math_score"].value_counts()
school_average_mathscore_df = grouped_df["math_score"].mean()

In [18]:
# calculate average math score - not by school though - by all the stundents
# creating grouped dataframe by students
# complete_copy_df
student_grouped_df = complete_copy_df.groupby(["student_name"])
print(student_grouped_df)
# student_grouped_df.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D3C3B148>

In [20]:
# calculate average math score continued
# use stundent groupby data frame to check math score
# student_grouped_df["math_score"].value_counts()
# student_grouped_df["math_score"].mean().mean()
average_math_score = student_grouped_df["math_score"].mean().mean()
# average_math_score

In [23]:
# calculate average reading score
# use student grouped data frame, filter reading scores for each student, take average, take average
# student_grouped_df["reading_score"].value_counts()
average_reading_score = student_grouped_df["reading_score"].mean().mean()
# average_reading_score

In [24]:
# Calculate the percentage of students with a passing math score (70 or greater)
# set variable and get value for total students
total_students = len(complete_copy_df["student_name"])
# total_students

In [26]:
# find number of students who have a math score of 70 or greater using LOC
passing_math_students = complete_copy_df.loc[complete_copy_df["math_score"] >= 70]


# print(passing_math_students)

In [28]:
# set variable and value for total students who are passing math
total_passing_math_students = len(passing_math_students)
# total_passing_math_students

In [30]:
# find number of student who have a math score of 70 or greater
passing_reading_students = complete_copy_df.loc[complete_copy_df["reading_score"] >= 70]

# print(passing_reading_students)

In [32]:
# set variable and value for total students who are passing reading
total_passing_reading_students = len(passing_reading_students)
# total_passing_reading_students

In [33]:
# calculating percentage of students passing math and percentage of students passing reading passing divide by total student
# need to convert to correct data type

In [35]:
# calculate percent of students passing math
percent_passing_math = (total_passing_math_students / total_students) * 100
# percent_passing_math

In [37]:
# calculate percent of students passing reading
percent_passing_reading =  (total_passing_reading_students / total_students) * 100
# percent_passing_reading

In [40]:
# calculate percent of students who passed math and reading
# using loc for students who have 70 or greater in math and 70 or greater in reading (dont forget to print)
overall_passing = complete_copy_df.loc[(complete_copy_df["math_score"] >= 70) & (complete_copy_df["reading_score"] >= 70)]
# print(overall_passing)

In [41]:
# set variable for total students overall passing, use length function to get value
total_overall_passing = len(overall_passing)
# total_overall_passing

In [43]:
# find percent of students overall passing
percent_overall_passing = (total_overall_passing / total_students) * 100
# percent_overall_passing

In [51]:
# creating Data Frame with the results
results_df = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": total_students,
                           "Total Budget": total_budget,
                           "Average Math Score": average_math_score,
                           "Average Reading Score": average_reading_score,
                           "% Passing Math": percent_passing_math,
                           "% Passing Reading": percent_passing_reading,
                           "% Overall Passing": percent_overall_passing,})

In [52]:
# results_df

In [53]:
# Formatting Results Data Frame, using Mapping
# for total students

# for total budget
results_df["Total Budget"] = results_df["Total Budget"].map("${:,.2f}".format)
# results_df

In [54]:
# Formatt for total students
results_df["Total Students"] = results_df["Total Students"].map("{:,}".format)

In [56]:
# DISTRICT SUMMARRY TABLE
results_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.998341,81.879058,74.980853,85.805463,65.172326

In [57]:
# ---------------------------------------------------------------------------------------------------------------------------

In [58]:
# SCHOOL SUMMARY
# ----------------------------------------------------------------------------------------------------------------------------
# want to use the groupby school name data frame that I already created
# use column manipulation to take mean of budget for each school to get the budget for each school
# basically a lot of column manipulation on groupby data frames

In [59]:
# using previously made grouped data frame, which I grouped by school names, Checking counts and value counts, so on
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D3C30808>

In [60]:
# what I see from this is that the count of Student ID series with give me the total students per school
# so just total students (=) will be grouped_df["Student ID"].count then change column title in new data frame
# total school budget I already have, the variable is saved as school_budget_df
# budget per student will be new column that calculates school budget / total students
# school type (=) will be grouped_df["type"].value_counts()
grouped_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [61]:
# Setting Variable and finding value for average math score by school
school_summary_math_score = grouped_df["math_score"].mean()
# school_summary_math_score

In [62]:
# Setting Variable and finding values for average reading score by school
school_summary_reading_score = grouped_df["reading_score"].mean()
# school_summary_reading_score

In [64]:
# OVER THINKING
# create the varibales and the values for the columns first 
# create another copy of the complete df and add these columns to that copy
# then make a groupby data frame for the summary with the columns you want
# so still use .loc in the 2nd copy of the complete data frame

In [65]:
# Copy of complete df for school summary table section
school_summary_copy_df = complete_df.copy()
# school_summary_copy_df

In [66]:
# Defining and setting variables for students passing math, students passing reading, and students passing both reading and math
# ------------------------------------------------------------------------------------------------------------------------------
# Students Passing Math
school_summary_passing_math_df = school_summary_copy_df.loc[school_summary_copy_df["math_score"] >= 70]
math_summary = school_summary_passing_math_df["school_name"].value_counts()

In [67]:
# Students Passing Reading
school_summary_passing_reading_df = school_summary_copy_df.loc[school_summary_copy_df["reading_score"] >= 70]
reading_summary = school_summary_passing_reading_df["school_name"].value_counts()

In [68]:
# Students Passing both Math and Reading
school_summary_passing_overall_df = school_summary_copy_df.loc[(school_summary_copy_df["math_score"] >= 70) & (school_summary_copy_df["reading_score"] >= 70)]
overall_summary = school_summary_passing_overall_df["school_name"].value_counts()

In [69]:
# Setting variable and value for school budgets
# already have school budgets variable
# school_budgets_df

In [70]:
# Setting Variable for total students
school_summary_total_students = grouped_df["student_name"].count()
# school_summary_total_students

In [71]:
# Setting variable for school type
# grouped_df["type"].unique()
school_type = grouped_df["type"].unique()
# school_type

In [72]:
# Setting variable for and calculating % passing math for each school 
percent_math = (math_summary / school_summary_total_students) * 100
# percent_math

In [73]:
# Setting variable for and calvulating % passing reading for each school
percent_reading = (reading_summary / school_summary_total_students) * 100
# percent_reading

In [74]:
# Setting variable for and calculation % overall passing for each school
overall_percent = (overall_summary / school_summary_total_students) * 100
# overall_percent

In [75]:
# Setting variable for and calculating budget per student at each school
per_student_budget = (school_budgets_df / school_summary_total_students)
# per_student_budget

In [76]:
# Creating new data frame school summary
school_summary_table = pd.DataFrame({"School Type": school_type,
                                    "Total Students": school_summary_total_students,
                                    "Total School Budget": school_budgets_df,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": school_summary_math_score,
                                    "Average Reading Score": school_summary_reading_score,
                                    "% Passing Math": percent_math,
                                    "% Passing Reading": percent_reading,
                                    "% Overall Passing": overall_percent})
# school_summary_table

In [77]:
# Formatting School Summary Table Using Mapping
school_summary_table["Total School Budget"] = school_summary_table["Total School Budget"].map("${:,.2f}".format)
school_summary_table["Per Student Budget"] = school_summary_table["Per Student Budget"].map("${:,.2f}".format)

In [78]:
# SCHOOL SUMMARY TABLE
school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [79]:
school_summary_table.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [80]:
school_summary_table.index

Index(['Bailey High School', 'Cabrera High School', 'Figueroa High School',
       'Ford High School', 'Griffin High School', 'Hernandez High School',
       'Holden High School', 'Huang High School', 'Johnson High School',
       'Pena High School', 'Rodriguez High School', 'Shelton High School',
       'Thomas High School', 'Wilson High School', 'Wright High School'],
      dtype='object', name='school_name')

In [81]:
# NEED TO ASK ABOUT GETTING RID OF BRACKETS AROUND OBJECTS IN SCHOOL TYPE
# NEED TO ASK ABOUT HIDING INDEX NAME (school_name)

In [82]:
# ----------------------------------------------------------------------------------------------------------

In [83]:
# TOP PERFORMING SCHOOLS (BY % OVERALL PASSING)
# ----------------------------------------------------------------------------------------------------------

In [84]:
# Sorting and displaying the top five performing schools by % overall passing
top_performing_df = school_summary_table.sort_values("% Overall Passing", ascending=False)
top_performing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [85]:
# ------------------------------------------------------------------------------------------

In [86]:
# BOTTOM PERFORMING SCHOOLS (BY % OVERALL PASSING)
# -----------------------------------------------------------------------------------------

In [87]:
# Sorting and displaying the bottom five performing schools by % overall passing
bottom_performing_df = school_summary_table.sort_values("% Overall Passing", ascending=True)
bottom_performing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [88]:
# -----------------------------------------------------------------------------------------

In [89]:
# MATH SCORES BY GRADE
# ----------------------------------------------------------------------

In [92]:
# creating series for each grade
# going to create copy of the complete df
copy_three = complete_df.copy()
# copy_three

In [93]:
copy_three["grade"].value_counts()

9th     11408
10th    10168
11th     9695
12th     7899
Name: grade, dtype: int64

In [94]:
copy_three["grade"].dtypes

dtype('O')

In [96]:
ninth_grade_math = copy_three.loc[copy_three["grade"] == "9th"]
# print(ninth_grade_math)

In [97]:
ninth_grade_group = ninth_grade_math.groupby(["school_name"])
print(ninth_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D4494E08>

In [99]:
tenth_grade = copy_three.loc[copy_three["grade"] == "10th"]
# print(tenth_grade)

In [100]:
tenth_grade_group = tenth_grade.groupby(["school_name"])
print(tenth_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D445A348>

In [102]:
eleventh_grade = copy_three.loc[copy_three["grade"] == "11th"]
# print(eleventh_grade)

In [103]:
eleventh_grade_group = eleventh_grade.groupby(["school_name"])
print(eleventh_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D448DE48>

In [105]:
twelfth_grade = copy_three.loc[copy_three["grade"] == "12th"]
# print(twelfth_grade)

In [106]:
twelfth_grade_group = twelfth_grade.groupby(["school_name"])
print(twelfth_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000277D44A0B08>

In [109]:
ninth_grade_average_math_score_grouped = ninth_grade_group["math_score"].mean()
ninth_grade_average_math_score_grouped

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [111]:
tenth_grade_average_math_score_grouped = tenth_grade_group["math_score"].mean()
tenth_grade_average_math_score_grouped

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [113]:
eleventh_grade_average_math_score_grouped = eleventh_grade_group["math_score"].mean()
eleventh_grade_average_math_score_grouped

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [115]:
twelfth_grade_average_math_score_grouped = twelfth_grade_group["math_score"].mean()
twelfth_grade_average_math_score_grouped

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [116]:
# MATH SCORES BY GRADE DATAFRAME
math_scores_by_grade_df = pd.DataFrame({"9th": ninth_grade_average_math_score_grouped,
                                       "10th": tenth_grade_average_math_score_grouped,
                                       "11th": eleventh_grade_average_math_score_grouped,
                                       "12th": twelfth_grade_average_math_score_grouped})
math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [117]:
math_scores_by_grade_df.index

Index(['Bailey High School', 'Cabrera High School', 'Figueroa High School',
       'Ford High School', 'Griffin High School', 'Hernandez High School',
       'Holden High School', 'Huang High School', 'Johnson High School',
       'Pena High School', 'Rodriguez High School', 'Shelton High School',
       'Thomas High School', 'Wilson High School', 'Wright High School'],
      dtype='object', name='school_name')

In [118]:
math_scores_by_grade_df.columns

Index(['9th', '10th', '11th', '12th'], dtype='object')

In [119]:
# -----------------------------------------------------------------------
# READING SCORE BY GRADE
# -------------------------------------------------------------------------------

In [120]:
ninth_grade_average_reading_score_grouped = ninth_grade_group["reading_score"].mean()
ninth_grade_average_reading_score_grouped

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [122]:
tenth_grade_average_reading_score_grouped = tenth_grade_group["reading_score"].mean()
tenth_grade_average_reading_score_grouped

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [123]:
eleventh_grade_average_reading_score_grouped = eleventh_grade_group["reading_score"].mean()
eleventh_grade_average_reading_score_grouped

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [124]:
twelfth_grade_average_reading_score_grouped = twelfth_grade_group["reading_score"].mean()
twelfth_grade_average_reading_score_grouped

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [125]:
# READING SCORE BY GRADE DATAFRAME
reading_score_by_grade_df = pd.DataFrame({"9th": ninth_grade_average_reading_score_grouped,
                                         "10th": tenth_grade_average_reading_score_grouped,
                                         "11th": eleventh_grade_average_reading_score_grouped,
                                         "12th": twelfth_grade_average_reading_score_grouped})
reading_score_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [126]:
reading_score_by_grade_df.index

Index(['Bailey High School', 'Cabrera High School', 'Figueroa High School',
       'Ford High School', 'Griffin High School', 'Hernandez High School',
       'Holden High School', 'Huang High School', 'Johnson High School',
       'Pena High School', 'Rodriguez High School', 'Shelton High School',
       'Thomas High School', 'Wilson High School', 'Wright High School'],
      dtype='object', name='school_name')

In [127]:
reading_score_by_grade_df.columns

Index(['9th', '10th', '11th', '12th'], dtype='object')

In [128]:
# -------------------------------------------------------------
# SCORES BY SCHOOL SPENDING
# --------------------------------------------------------------

In [129]:
# creating bins (based on average spending ranges (per student)) for....
# average math score
# average reading score
# % passing math
# % passing reading
# % overall passing