In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load Files
school_data = '../Resources/schools_complete.csv'
student_data = '../Resources/students_complete.csv'

In [3]:
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)
# student_df.head()
# student_df.columns

In [4]:
# Merging data into single data set
complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
# complete_df.head()
# complete_df.columns
# complete_df.head()
complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [5]:
# Calculate total numbers of schools
school_count = len(complete_df["school_name"].unique())
# school_count

In [6]:
# Calculate total number of students
student_count = len(complete_df["student_name"].unique())
# student_count

In [7]:
# complete_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [9]:
# Calculate Total Budget -  I'm using groupby method
# make copy of merged data frame
# create data framed grouped by school name column with copy if the merged data frame
complete_copy_df = complete_df.copy()
complete_copy_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [17]:
# group by data frame 
grouped_df = complete_copy_df.groupby(["school_name"])

print(grouped_df)

# grouped_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020C9481A9C8>

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [22]:
# Getting value counts for budgets for each school
grouped_df["budget"].value_counts()

school_name            budget
Bailey High School     3124928    4976
Cabrera High School    1081356    1858
Figueroa High School   1884411    2949
Ford High School       1763916    2739
Griffin High School    917500     1468
Hernandez High School  3022020    4635
Holden High School     248087      427
Huang High School      1910635    2917
Johnson High School    3094650    4761
Pena High School       585858      962
Rodriguez High School  2547363    3999
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Wilson High School     1319574    2283
Wright High School     1049400    1800
Name: budget, dtype: int64

In [45]:
# create data frame for the average budget for each school, then take sum of the dataframe to get to total budget
school_budgets_df = grouped_df["budget"].mean()
# school_budgets_df.sum()
total_budget = school_budgets_df.sum()
total_budget

24649428

In [35]:
# Calculate Average Math Score
# use grouped data frame,  check value counts for math score
# grouped_df["math_score"].value_counts()
school_average_mathscore_df = grouped_df["math_score"].mean()
school_average_mathscore_df.mean()

80.43252976460249

In [38]:
# calculate average math score - not by school though - by all the stundents
# creating grouped dataframe by students
# complete_copy_df
student_grouped_df = complete_copy_df.groupby(["student_name"])
print(student_grouped_df)
# student_grouped_df.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020C93ABDD48>

,Student ID,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
student_name,,,,,,,,,,
Aaron Acosta,1,1,1,1,1,1,1,1,1,1
Aaron Aguilar,1,1,1,1,1,1,1,1,1,1
Aaron Anderson,1,1,1,1,1,1,1,1,1,1
Aaron Atkinson,1,1,1,1,1,1,1,1,1,1
Aaron Bailey,1,1,1,1,1,1,1,1,1,1

In [46]:
# calculate average math score continued
# use stundent groupby data frame to check math score
# student_grouped_df["math_score"].value_counts()
# student_grouped_df["math_score"].mean().mean()
average_math_score = student_grouped_df["math_score"].mean().mean()
average_math_score

78.99834099820231

In [49]:
# calculate average reading score
# use student grouped data frame, filter reading scores for each student, take average, take average
# student_grouped_df["reading_score"].value_counts()
average_reading_score = student_grouped_df["reading_score"].mean().mean()
average_reading_score

81.87905805751977

In [52]:
# Calculate the percentage of students with a passing math score (70 or greater)
# set variable and get value for total students
total_students = len(complete_copy_df["student_name"])
# total_students

39170

In [57]:
# find number of students who have a math score of 70 or greater using LOC
passing_math_students = complete_copy_df.loc[complete_copy_df["math_score"] >= 70]


print(passing_math_students)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]

In [58]:
# set variable and value for total students who are passing math
total_passing_math_students = len(passing_math_students)
total_passing_math_students

29370

In [59]:
# find number of student who have a math score of 70 or greater
passing_reading_students = complete_copy_df.loc[complete_copy_df["reading_score"] >= 70]

print(passing_reading_students)

       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]

In [60]:
# set variable and value for total students who are passing reading
total_passing_reading_students = len(passing_reading_students)
total_passing_reading_students

33610

In [63]:
# calculating percentage of students passing math and percentage of students passing reading passing divide by total student
# need to convert to correct data types