In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load Files
school_data = '../Resources/schools_complete.csv'
student_data = '../Resources/students_complete.csv'

In [3]:
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)
# student_df.head()
# student_df.columns

In [4]:
# Merging data into single data set
complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
# complete_df.head()
# complete_df.columns
# complete_df.head()
complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [109]:
# DISTRICT SUMMARY
# ----------------------------------------------------------------------------------------------------------------------------

In [110]:
# Setting Variable and calculate total numbers of schools
school_count = len(complete_df["school_name"].unique())
# school_count

In [111]:
# Setting Variable and calculate total number of students
student_count = len(complete_df["student_name"].unique())
# student_count

In [112]:
# complete_df.dtypes

In [113]:
# Calculate Total Budget -  I'm using groupby method
# make copy of merged data frame
# create data framed grouped by school name column with copy if the merged data frame
complete_copy_df = complete_df.copy()
complete_copy_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [9]:
# group by data frame 
grouped_df = complete_copy_df.groupby(["school_name"])

print(grouped_df)

# grouped_df.count()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002131C494C48>

In [10]:
# Getting value counts for budgets for each school
grouped_df["budget"].value_counts()

school_name            budget
Bailey High School     3124928    4976
Cabrera High School    1081356    1858
Figueroa High School   1884411    2949
Ford High School       1763916    2739
Griffin High School    917500     1468
Hernandez High School  3022020    4635
Holden High School     248087      427
Huang High School      1910635    2917
Johnson High School    3094650    4761
Pena High School       585858      962
Rodriguez High School  2547363    3999
Shelton High School    1056600    1761
Thomas High School     1043130    1635
Wilson High School     1319574    2283
Wright High School     1049400    1800
Name: budget, dtype: int64

In [11]:
# create data frame for the average budget for each school, then take sum of the dataframe to get to total budget
school_budgets_df = grouped_df["budget"].mean()
# school_budgets_df.sum()
total_budget = school_budgets_df.sum()
total_budget

24649428

In [12]:
# Calculate Average Math Score
# use grouped data frame,  check value counts for math score
# grouped_df["math_score"].value_counts()
school_average_mathscore_df = grouped_df["math_score"].mean()
school_average_mathscore_df.mean()

80.43252976460249

In [13]:
# calculate average math score - not by school though - by all the stundents
# creating grouped dataframe by students
# complete_copy_df
student_grouped_df = complete_copy_df.groupby(["student_name"])
print(student_grouped_df)
# student_grouped_df.count().head()

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002131C4835C8>

In [14]:
# calculate average math score continued
# use stundent groupby data frame to check math score
# student_grouped_df["math_score"].value_counts()
# student_grouped_df["math_score"].mean().mean()
average_math_score = student_grouped_df["math_score"].mean().mean()
average_math_score

78.99834099820231

In [15]:
# calculate average reading score
# use student grouped data frame, filter reading scores for each student, take average, take average
# student_grouped_df["reading_score"].value_counts()
average_reading_score = student_grouped_df["reading_score"].mean().mean()
average_reading_score

81.87905805751977

In [16]:
# Calculate the percentage of students with a passing math score (70 or greater)
# set variable and get value for total students
total_students = len(complete_copy_df["student_name"])
# total_students

In [17]:
# find number of students who have a math score of 70 or greater using LOC
passing_math_students = complete_copy_df.loc[complete_copy_df["math_score"] >= 70]


print(passing_math_students)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]

In [18]:
# set variable and value for total students who are passing math
total_passing_math_students = len(passing_math_students)
total_passing_math_students

29370

In [19]:
# find number of student who have a math score of 70 or greater
passing_reading_students = complete_copy_df.loc[complete_copy_df["reading_score"] >= 70]

print(passing_reading_students)

       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]

In [20]:
# set variable and value for total students who are passing reading
total_passing_reading_students = len(passing_reading_students)
total_passing_reading_students

33610

In [21]:
# calculating percentage of students passing math and percentage of students passing reading passing divide by total student
# need to convert to correct data type

In [22]:
# calculate percent of students passing math
percent_passing_math = (total_passing_math_students / total_students) * 100
percent_passing_math

74.9808526933878

In [23]:
# calculate percent of students passing reading
percent_passing_reading =  (total_passing_reading_students / total_students) * 100
percent_passing_reading

85.80546336482001

In [24]:
# calculate percent of students who passed math and reading
# using loc for students who have 70 or greater in math and 70 or greater in reading (dont forget to print)
overall_passing = complete_copy_df.loc[(complete_copy_df["math_score"] >= 70) & (complete_copy_df["reading_score"] >= 70)]
print(overall_passing)

       Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[25528 rows x 11 columns]

In [25]:
# set variable for total students overall passing, use length function to get value
total_overall_passing = len(overall_passing)
# total_overall_passing

In [26]:
# find percent of students overall passing
percent_overall_passing = (total_overall_passing / total_students) * 100
percent_overall_passing

65.17232575950983

In [27]:
# creating Data Frame with the results
results_df = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": total_students,
                           "Total Budget": total_budget,
                           "Average Math Score": average_math_score,
                           "Average Reading Score": average_reading_score,
                           "% Passing Math": percent_passing_math,
                           "% Passing Reading": percent_passing_reading,
                           "% Overall Passing": percent_overall_passing,})

In [28]:
results_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.998341,81.879058,74.980853,85.805463,65.172326

In [29]:
# Formatting Results Data Frame, using Mapping
# for total students

# for total budget
results_df["Total Budget"] = results_df["Total Budget"].map("${:,.2f}".format)
# results_df

In [30]:
# Formatt for total students
results_df["Total Students"] = results_df["Total Students"].map("{:,}".format)

In [31]:
results_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.998341,81.879058,74.980853,85.805463,65.172326

In [114]:
# SCHOOL SUMMARY
# ----------------------------------------------------------------------------------------------------------------------------
# want to use the groupby school name data frame that I already created
# use column manipulation to take mean of budget for each school to get the budget for each school
# basically a lot of column manipulation on groupby data frames

In [33]:
# using previously made grouped data frame, which I grouped by school names, Checking counts and value counts, so on
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002131C494C48>

In [34]:
# what I see from this is that the count of Student ID series with give me the total students per school
# so just total students (=) will be grouped_df["Student ID"].count then change column title in new data frame
# total school budget I already have, the variable is saved as school_budget_df
# budget per student will be new column that calculates school budget / total students
# school type (=) will be grouped_df["type"].value_counts()
grouped_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [107]:
# Setting Variable and finding value for average math score by school
school_summary_math_score = grouped_df["math_score"].mean()
# school_summary_math_score

In [108]:
# Setting Variable and finding values for average reading score by school
school_summary_reading_score = grouped_df["reading_score"].mean()
# school_summary_reading_score

In [38]:
# finding number of students passing math for each school
# finding number of students passing reading for each school
# finding number of students passing both reading and math for each school
# >= 70
math_scores_by_school = grouped_df["math_score"].value_counts()
# math_scores_by_school

In [39]:
# OVER THINKING
# create the varibales and the values for the columns first 
# create another copy of the complete df and add these columns to that copy
# then make a groupby data frame for the summary with the columns you want
# so still use .loc in the 2nd copy of the complete data frame

In [40]:
# Copy of complete df for school summary table section
school_summary_copy_df = complete_df.copy()
# school_summary_copy_df

In [106]:
# Defining and setting variables for students passing math, students passing reading, and students passing both reading and math
# ------------------------------------------------------------------------------------------------------------------------------
# Students Passing Math
school_summary_passing_math_df = school_summary_copy_df.loc[school_summary_copy_df["math_score"] >= 70]
math_summary = school_summary_passing_math_df["school_name"].value_counts()

In [104]:
# Students Passing Reading
school_summary_passing_reading_df = school_summary_copy_df.loc[school_summary_copy_df["reading_score"] >= 70]
reading_summary = school_summary_passing_reading_df["school_name"].value_counts()

In [105]:
# Students Passing both Math and Reading
school_summary_passing_overall_df = school_summary_copy_df.loc[(school_summary_copy_df["math_score"] >= 70) & (school_summary_copy_df["reading_score"] >= 70)]
overall_summary = school_summary_passing_overall_df["school_name"].value_counts()

In [102]:
# Setting variable and value for school budgets
# already have school budgets variable
# school_budgets_df

In [93]:
# Setting Variable for total students
school_summary_total_students = grouped_df["student_name"].count()
# school_summary_total_students

In [117]:
# Setting variable for school type
# grouped_df["type"].unique()
school_type = grouped_df["type"].unique()
# school_type

In [118]:
# Setting variable for and calculating % passing math for each school 
percent_math = (math_summary / school_summary_total_students) * 100
# percent_math

In [119]:
# Setting variable for and calvulating % passing reading for each school
percent_reading = (reading_summary / school_summary_total_students) * 100
# percent_reading

In [120]:
# Setting variable for and calculation % overall passing for each school
overall_percent = (overall_summary / school_summary_total_students) * 100
# overall_percent

In [121]:
# Setting variable for and calculating budget per student at each school
per_student_budget = (school_budgets_df / school_summary_total_students)
# per_student_budget

In [130]:
# Creating new data frame school summary
school_summary_table = pd.DataFrame({"School Type": school_type,
                                    "Total Students": school_summary_total_students,
                                    "Total School Budget": school_budgets_df,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": school_summary_math_score,
                                    "Average Reading Score": school_summary_reading_score,
                                    "% Passing Math": percent_math,
                                    "% Passing Reading": percent_reading,
                                    "% Overall Passing": overall_percent})
# school_summary_table

In [131]:
# Formatting School Summary Table Using Mapping
school_summary_table["Total School Budget"] = school_summary_table["Total School Budget"].map("${:,.2f}".format)
school_summary_table["Per Student Budget"] = school_summary_table["Per Student Budget"].map("${:,.2f}".format)

In [136]:
# SCHOOL SUMMARY TABLE
school_summary_table

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [134]:
school_summary_table.columns

Index(['School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [135]:
school_summary_table.index

Index(['Bailey High School', 'Cabrera High School', 'Figueroa High School',
       'Ford High School', 'Griffin High School', 'Hernandez High School',
       'Holden High School', 'Huang High School', 'Johnson High School',
       'Pena High School', 'Rodriguez High School', 'Shelton High School',
       'Thomas High School', 'Wilson High School', 'Wright High School'],
      dtype='object', name='school_name')

In [137]:
# NEED TO ASK ABOUT GETTING RID OF BRACKETS AROUND OBJECTS IN SCHOOL TYPE
# NEED TO ASK ABOUT HIDING INDEX NAME (school_name)

In [142]:
# TOP PERFORMING SCHOOLS (BY % OVERALL PASSING)
# ----------------------------------------------------------------------------------------------------------

In [143]:
# Sorting and displaying the top five performing schools by % overall passing
top_performing_df = school_summary_table.sort_values("% Overall Passing", ascending=False)
top_performing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [141]:
# BOTTOM PERFORMING SCHOOLS (BY % OVERALL PASSING)
# -----------------------------------------------------------------------------------------

In [144]:
# Sorting and displaying the bottom five performing schools by % overall passing
bottom_performing_df = school_summary_table.sort_values("% Overall Passing", ascending=True)
bottom_performing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [145]:
# MATH SCORES BY GRADE
# ----------------------------------------------------------------------

In [146]:
# creating series for each grade
# going to create copy of the complete df
copy_three = complete_df.copy()
copy_three

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [147]:
copy_three["grade"].value_counts()

9th     11408
10th    10168
11th     9695
12th     7899
Name: grade, dtype: int64

In [151]:
copy_three["grade"].dtypes

dtype('O')

In [152]:
ninth_grade_math = copy_three.loc[copy_three["grade"] == "9th"]
print(ninth_grade_math)

       Student ID      student_name gender grade         school_name  \
0               0      Paul Bradley      M   9th   Huang High School
4               4        Bonnie Ray      F   9th   Huang High School
5               5     Bryan Miranda      M   9th   Huang High School
12             12   Brittney Walker      F   9th   Huang High School
13             13      William Long      M   9th   Huang High School
...           ...               ...    ...   ...                 ...
39152       39152        Lori Moore      F   9th  Thomas High School
39153       39153   William Hubbard      M   9th  Thomas High School
39157       39157  Kristen Gonzalez      F   9th  Thomas High School
39164       39164    Joseph Anthony      M   9th  Thomas High School
39167       39167    Rebecca Tanner      F   9th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
12                64          79          0  District  2917  1910635
13                71          79          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39152             98          84         14   Charter  1635  1043130
39153             80          75         14   Charter  1635  1043130
39157             79          94         14   Charter  1635  1043130
39164             97          76         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130

[11408 rows x 11 columns]

In [154]:
ninth_grade_group = ninth_grade_math.groupby(["school_name"])
print(ninth_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021321636208>

In [155]:
tenth_grade = copy_three.loc[copy_three["grade"] == "10th"]
print(tenth_grade)

       Student ID      student_name gender grade         school_name  \
8               8      Michael Roth      M  10th   Huang High School
9               9    Matthew Greene      M  10th   Huang High School
10             10  Andrew Alexander      M  10th   Huang High School
11             11     Daniel Cooper      M  10th   Huang High School
14             14      Tammy Hebert      F  10th   Huang High School
...           ...               ...    ...   ...                 ...
39155       39155       John Brooks      M  10th  Thomas High School
39158       39158     Kari Holloway      F  10th  Thomas High School
39161       39161       April Reyes      F  10th  Thomas High School
39166       39166         Dawn Bell      F  10th  Thomas High School
39168       39168      Desiree Kidd      F  10th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
10                90          70          0  District  2917  1910635
11                78          77          0  District  2917  1910635
14                85          67          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39155             92          98         14   Charter  1635  1043130
39158             87          90         14   Charter  1635  1043130
39161             70          84         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130

[10168 rows x 11 columns]

In [156]:
tenth_grade_group = tenth_grade.groupby(["school_name"])
print(tenth_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002131FBD99C8>

In [157]:
eleventh_grade = copy_three.loc[copy_three["grade"] == "11th"]
print(eleventh_grade)

       Student ID         student_name gender grade         school_name  \
6               6        Sheena Carter      F  11th   Huang High School
15             15    Dr. Jordan Carson      M  11th   Huang High School
22             22     Kimberly Stewart      F  11th   Huang High School
24             24     Chelsea Griffith      F  11th   Huang High School
28             28          Kelly James      F  11th   Huang High School
...           ...                  ...    ...   ...                 ...
39156       39156  Stephanie Contreras      F  11th  Thomas High School
39159       39159     Kimberly Cabrera      F  11th  Thomas High School
39160       39160         Katie Weaver      F  11th  Thomas High School
39163       39163           John Reese      M  11th  Thomas High School
39169       39169      Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
6                 82          80          0  District  2917  1910635
15                94          88          0  District  2917  1910635
22                99          84          0  District  2917  1910635
24                85          73          0  District  2917  1910635
28                73          55          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39156             79          95         14   Charter  1635  1043130
39159             85          72         14   Charter  1635  1043130
39160             89          86         14   Charter  1635  1043130
39163             90          75         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[9695 rows x 11 columns]

In [158]:
eleventh_grade_group = eleventh_grade.groupby(["school_name"])
print(eleventh_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000021322534408>

In [159]:
twelfth_grade = copy_three.loc[copy_three["grade"] == "12th"]
print(twelfth_grade)

       Student ID       student_name gender grade         school_name  \
1               1       Victor Smith      M  12th   Huang High School
2               2    Kevin Rodriguez      M  12th   Huang High School
3               3  Dr. Richard Scott      M  12th   Huang High School
7               7       Nicole Baker      F  12th   Huang High School
29             29       Nicole Brown      F  12th   Huang High School
...           ...                ...    ...   ...                 ...
39137       39137    Victoria Bailey      F  12th  Thomas High School
39144       39144   Cristian Webster      M  12th  Thomas High School
39154       39154    Bradley Johnson      M  12th  Thomas High School
39162       39162        Derek Weeks      M  12th  Thomas High School
39165       39165       Donna Howard      F  12th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
3                 67          58          0  District  2917  1910635
7                 96          69          0  District  2917  1910635
29                90          88          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39137             75          70         14   Charter  1635  1043130
39144             77          87         14   Charter  1635  1043130
39154             91          71         14   Charter  1635  1043130
39162             94          77         14   Charter  1635  1043130
39165             99          90         14   Charter  1635  1043130

[7899 rows x 11 columns]

In [160]:
twelfth_grade_group = twelfth_grade.groupby(["school_name"])
print(twelfth_grade_group)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002132261C688>