In [1]:
# Dependencies
import pandas as pd

In [2]:
# Load Files
school_data = '../Resources/schools_complete.csv'
student_data = '../Resources/students_complete.csv'

In [3]:
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)
# student_df.head()
# student_df.columns
school_df.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [4]:
# Merging data into single data set
complete_df = pd.merge(student_df, school_df, how="left", on=["school_name", "school_name"])
# complete_df.head()
# complete_df.columns
# complete_df.head()
complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [5]:
# ----------------------------------------------------------------------------------------------------------------------------
# DISTRICT SUMMARY
# ----------------------------------------------------------------------------------------------------------------------------

In [6]:
# Setting Variable and calculate total numbers of schools
school_count = len(complete_df["school_name"].unique())

# school_count

In [7]:
# Setting Variable and calculate total number of students
student_count = len(complete_df["student_name"].unique())

# student_count

In [8]:
# complete_df.dtypes

In [ ]:
# Calculate Total Budget -  I'm using groupby method
# make copy of merged data frame
# create data framed grouped by school name column with copy if the merged data frame
complete_copy_df = complete_df.copy()
# complete_copy_df.columns

In [ ]:
# group by data frame 
grouped_df = complete_copy_df.groupby(["school_name"])

print(grouped_df)


# grouped_df.count()

In [ ]:
# Getting value counts for budgets for each school
# grouped_df["budget"].value_counts()

In [ ]:
# create data frame for the average budget for each school, then take sum of the dataframe to get to total budget
school_budgets_df = grouped_df["budget"].mean()
# school_budgets_df.sum()
total_budget = school_budgets_df.sum()

# total_budget

In [ ]:
# Calculate Average Math Score
# use grouped data frame,  check value counts for math score
# grouped_df["math_score"].value_counts()
school_average_mathscore_df = grouped_df["math_score"].mean()

In [ ]:
# calculate average math score - not by school though - by all the stundents
# creating grouped dataframe by students
# complete_copy_df
student_grouped_df = complete_copy_df.groupby(["student_name"])
print(student_grouped_df)
# student_grouped_df.count().head()

In [ ]:
# calculate average math score continued
# use stundent groupby data frame to check math score
# student_grouped_df["math_score"].value_counts()
# student_grouped_df["math_score"].mean().mean()
average_math_score = student_grouped_df["math_score"].mean().mean()
# average_math_score

In [ ]:
# calculate average reading score
# use student grouped data frame, filter reading scores for each student, take average, take average
# student_grouped_df["reading_score"].value_counts()
average_reading_score = student_grouped_df["reading_score"].mean().mean()
# average_reading_score

In [ ]:
# Calculate the percentage of students with a passing math score (70 or greater)
# set variable and get value for total students
total_students = len(complete_copy_df["student_name"])
# total_students

In [ ]:
# find number of students who have a math score of 70 or greater using LOC
passing_math_students = complete_copy_df.loc[complete_copy_df["math_score"] >= 70]


# print(passing_math_students)

In [ ]:
# set variable and value for total students who are passing math
total_passing_math_students = len(passing_math_students)
# total_passing_math_students

In [ ]:
# find number of student who have a math score of 70 or greater
passing_reading_students = complete_copy_df.loc[complete_copy_df["reading_score"] >= 70]

# print(passing_reading_students)

In [ ]:
# set variable and value for total students who are passing reading
total_passing_reading_students = len(passing_reading_students)
# total_passing_reading_students

In [ ]:
# calculating percentage of students passing math and percentage of students passing reading passing divide by total student
# need to convert to correct data type

In [ ]:
# calculate percent of students passing math
percent_passing_math = (total_passing_math_students / total_students) * 100
# percent_passing_math

In [ ]:
# calculate percent of students passing reading
percent_passing_reading =  (total_passing_reading_students / total_students) * 100
# percent_passing_reading

In [ ]:
# calculate percent of students who passed math and reading
# using loc for students who have 70 or greater in math and 70 or greater in reading (dont forget to print)
overall_passing = complete_copy_df.loc[(complete_copy_df["math_score"] >= 70) & (complete_copy_df["reading_score"] >= 70)]
# print(overall_passing)

In [ ]:
# set variable for total students overall passing, use length function to get value
total_overall_passing = len(overall_passing)
# total_overall_passing

In [ ]:
# find percent of students overall passing
percent_overall_passing = (total_overall_passing / total_students) * 100
# percent_overall_passing

In [ ]:
# creating Data Frame with the results
results_df = pd.DataFrame({"Total Schools": [school_count],
                           "Total Students": total_students,
                           "Total Budget": total_budget,
                           "Average Math Score": average_math_score,
                           "Average Reading Score": average_reading_score,
                           "% Passing Math": percent_passing_math,
                           "% Passing Reading": percent_passing_reading,
                           "% Overall Passing": percent_overall_passing,})

In [ ]:
# results_df

In [ ]:
# Formatting Results Data Frame, using Mapping
# for total students

# for total budget
results_df["Total Budget"] = results_df["Total Budget"].map("${:,.2f}".format)
# results_df

In [ ]:
# Formatt for total students
results_df["Total Students"] = results_df["Total Students"].map("{:,}".format)

In [ ]:
# DISTRICT SUMMARRY TABLE
results_df

In [ ]:
# ----------------------------------------------------------------------------------------------------------------------------
# SCHOOL SUMMARY
# ----------------------------------------------------------------------------------------------------------------------------
# want to use the groupby school name data frame that I already created
# use column manipulation to take mean of budget for each school to get the budget for each school
# basically a lot of column manipulation on groupby data frames

In [ ]:
# using previously made grouped data frame, which I grouped by school names, Checking counts and value counts, so on
print(grouped_df)

In [ ]:
# what I see from this is that the count of Student ID series with give me the total students per school
# so just total students (=) will be grouped_df["Student ID"].count then change column title in new data frame
# total school budget I already have, the variable is saved as school_budget_df
# budget per student will be new column that calculates school budget / total students
# school type (=) will be grouped_df["type"].value_counts()
grouped_df.count()

In [ ]:
# Setting Variable and finding value for average math score by school
school_summary_math_score = grouped_df["math_score"].mean()
# school_summary_math_score

In [ ]:
# Setting Variable and finding values for average reading score by school
school_summary_reading_score = grouped_df["reading_score"].mean()
# school_summary_reading_score

In [ ]:
# OVER THINKING
# create the varibales and the values for the columns first 
# create another copy of the complete df and add these columns to that copy
# then make a groupby data frame for the summary with the columns you want
# so still use .loc in the 2nd copy of the complete data frame

In [ ]:
# Copy of complete df for school summary table section
school_summary_copy_df = complete_df.copy()
# school_summary_copy_df

In [ ]:
# Defining and setting variables for students passing math, students passing reading, and students passing both reading and math
# ------------------------------------------------------------------------------------------------------------------------------
# Students Passing Math
school_summary_passing_math_df = school_summary_copy_df.loc[school_summary_copy_df["math_score"] >= 70]
math_summary = school_summary_passing_math_df["school_name"].value_counts()

In [ ]:
# Students Passing Reading
school_summary_passing_reading_df = school_summary_copy_df.loc[school_summary_copy_df["reading_score"] >= 70]
reading_summary = school_summary_passing_reading_df["school_name"].value_counts()

In [ ]:
# Students Passing both Math and Reading
school_summary_passing_overall_df = school_summary_copy_df.loc[(school_summary_copy_df["math_score"] >= 70) & (school_summary_copy_df["reading_score"] >= 70)]
overall_summary = school_summary_passing_overall_df["school_name"].value_counts()

In [ ]:
# Setting variable and value for school budgets
# already have school budgets variable
# school_budgets_df

In [ ]:
# fixing a problem I realized (just now) in my code, going to setindex school df instead of using .unique
fixed_school_types = school_df.set_index("school_name")["type"]

In [ ]:
# Setting Variable for total students
school_summary_total_students = grouped_df["student_name"].count()

In [ ]:
# Setting variable for and calculating % passing math for each school 
percent_math = (math_summary / school_summary_total_students) * 100

In [ ]:
# Setting variable for and calvulating % passing reading for each school
percent_reading = (reading_summary / school_summary_total_students) * 100

In [ ]:
# Setting variable for and calculation % overall passing for each school
overall_percent = (overall_summary / school_summary_total_students) * 100

In [ ]:
# Setting variable for and calculating budget per student at each school
per_student_budget = (school_budgets_df / school_summary_total_students)

In [ ]:
# Creating new data frame school summary
school_summary_table = pd.DataFrame({"School Type": fixed_school_types,
                                    "Total Students": school_summary_total_students,
                                    "Total School Budget": school_budgets_df,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": school_summary_math_score,
                                    "Average Reading Score": school_summary_reading_score,
                                    "% Passing Math": percent_math,
                                    "% Passing Reading": percent_reading,
                                    "% Overall Passing": overall_percent})
school_summary_table

In [ ]:
# Formatting School Summary Table Using Mapping
school_summary_table["Total School Budget"] = school_summary_table["Total School Budget"].map("${:,.2f}".format)
school_summary_table["Per Student Budget"] = school_summary_table["Per Student Budget"].map("${:,.2f}".format)

In [ ]:
# SCHOOL SUMMARY TABLE
school_summary_table

In [ ]:
school_summary_table.columns

In [ ]:
school_summary_table.index

In [ ]:
# NEED TO ASK ABOUT GETTING RID OF BRACKETS AROUND OBJECTS IN SCHOOL TYPE
# NEED TO ASK ABOUT HIDING INDEX NAME (school_name)

In [ ]:
# ---------------------------------------------------------------------------------------------------------
# TOP PERFORMING SCHOOLS (BY % OVERALL PASSING)
# ----------------------------------------------------------------------------------------------------------

In [ ]:
# Sorting and displaying the top five performing schools by % overall passing
top_performing_df = school_summary_table.sort_values("% Overall Passing", ascending=False)
top_performing_df.head()

In [ ]:
# -----------------------------------------------------------------------------------------
# BOTTOM PERFORMING SCHOOLS (BY % OVERALL PASSING)
# -----------------------------------------------------------------------------------------

In [ ]:
# Sorting and displaying the bottom five performing schools by % overall passing
bottom_performing_df = school_summary_table.sort_values("% Overall Passing", ascending=True)
bottom_performing_df.head()

In [ ]:
# ---------------------------------------------------------------------
# MATH SCORES BY GRADE
# ----------------------------------------------------------------------

In [ ]:
# creating series for each grade
# going to create copy of the complete df
copy_three = complete_df.copy()
# copy_three

In [ ]:
copy_three["grade"].value_counts()

In [ ]:
copy_three["grade"].dtypes

In [ ]:
ninth_grade_math = copy_three.loc[copy_three["grade"] == "9th"]
# print(ninth_grade_math)

In [ ]:
ninth_grade_group = ninth_grade_math.groupby(["school_name"])
print(ninth_grade_group)

In [ ]:
tenth_grade = copy_three.loc[copy_three["grade"] == "10th"]
# print(tenth_grade)

In [ ]:
tenth_grade_group = tenth_grade.groupby(["school_name"])
print(tenth_grade_group)

In [ ]:
eleventh_grade = copy_three.loc[copy_three["grade"] == "11th"]
# print(eleventh_grade)

In [ ]:
eleventh_grade_group = eleventh_grade.groupby(["school_name"])
print(eleventh_grade_group)

In [ ]:
twelfth_grade = copy_three.loc[copy_three["grade"] == "12th"]
# print(twelfth_grade)

In [ ]:
twelfth_grade_group = twelfth_grade.groupby(["school_name"])
print(twelfth_grade_group)

In [ ]:
ninth_grade_average_math_score_grouped = ninth_grade_group["math_score"].mean()
ninth_grade_average_math_score_grouped

In [ ]:
tenth_grade_average_math_score_grouped = tenth_grade_group["math_score"].mean()
tenth_grade_average_math_score_grouped

In [ ]:
eleventh_grade_average_math_score_grouped = eleventh_grade_group["math_score"].mean()
eleventh_grade_average_math_score_grouped

In [ ]:
twelfth_grade_average_math_score_grouped = twelfth_grade_group["math_score"].mean()
twelfth_grade_average_math_score_grouped

In [ ]:
# MATH SCORES BY GRADE DATAFRAME
math_scores_by_grade_df = pd.DataFrame({"9th": ninth_grade_average_math_score_grouped,
                                       "10th": tenth_grade_average_math_score_grouped,
                                       "11th": eleventh_grade_average_math_score_grouped,
                                       "12th": twelfth_grade_average_math_score_grouped})
math_scores_by_grade_df

In [ ]:
math_scores_by_grade_df.index

In [ ]:
math_scores_by_grade_df.columns

In [ ]:
# -----------------------------------------------------------------------
# READING SCORE BY GRADE
# -------------------------------------------------------------------------------

In [ ]:
ninth_grade_average_reading_score_grouped = ninth_grade_group["reading_score"].mean()
ninth_grade_average_reading_score_grouped

In [ ]:
tenth_grade_average_reading_score_grouped = tenth_grade_group["reading_score"].mean()
tenth_grade_average_reading_score_grouped

In [ ]:
eleventh_grade_average_reading_score_grouped = eleventh_grade_group["reading_score"].mean()
eleventh_grade_average_reading_score_grouped

In [ ]:
twelfth_grade_average_reading_score_grouped = twelfth_grade_group["reading_score"].mean()
twelfth_grade_average_reading_score_grouped

In [ ]:
# READING SCORE BY GRADE DATAFRAME
reading_score_by_grade_df = pd.DataFrame({"9th": ninth_grade_average_reading_score_grouped,
                                         "10th": tenth_grade_average_reading_score_grouped,
                                         "11th": eleventh_grade_average_reading_score_grouped,
                                         "12th": twelfth_grade_average_reading_score_grouped})
reading_score_by_grade_df

In [ ]:
reading_score_by_grade_df.index

In [ ]:
reading_score_by_grade_df.columns

In [ ]:
# -------------------------------------------------------------
# SCORES BY SCHOOL SPENDING
# --------------------------------------------------------------

In [ ]:
# creating bins (based on average spending ranges (per student)) for....
# average math score
# average reading score
# % passing math
# % passing reading
# % overall passing

In [ ]:
# checking dtype
per_student_budget

In [ ]:
# creating bins
bins = [0, 584.99, 629.99, 644.99, 680.00]

# create group labels
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# new data frame
new_df = pd.DataFrame({"Spending": per_student_budget,
                      "Average Math Score": school_summary_math_score,
                      "Average Reading Score": school_summary_reading_score,
                      "% Passing Math": percent_math,
                      "% Passing Reading": percent_reading,
                      "% Overall Passing": overall_percent})
new_df

In [ ]:
# testing to see if this works
pd.cut(new_df["Spending"], bins, labels=group_names, include_lowest=True).head()

In [ ]:
# Creating Spending Ranges Column
new_df["Spending Ranges (Per Student)"] = pd.cut(new_df["Spending"], bins, labels=group_names, include_lowest=True)
new_df

In [ ]:
# Grouping by Spending Ranges
spending_range_groups = new_df.groupby("Spending Ranges (Per Student)")
spending_range_groups

In [ ]:
# Getting Averages and Percentages by Spending Ranges
spending_range_groups[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

In [ ]:
# ----------------------------------------------------------------------
# SCORES BY SCHOOL SIZE
# ----------------------------------------------------------------------

In [ ]:
raw_summary_table = pd.DataFrame({"School Type": fixed_school_types,
                                    "Total Students": school_summary_total_students,
                                    "Total School Budget": school_budgets_df,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": school_summary_math_score,
                                    "Average Reading Score": school_summary_reading_score,
                                    "% Passing Math": percent_math,
                                    "% Passing Reading": percent_reading,
                                    "% Overall Passing": overall_percent})
raw_summary_table

In [ ]:
# checking max and min of size series
print(raw_summary_table["Total Students"].max())
print(raw_summary_table["Total Students"].min())

In [ ]:
# creating bins and labels
size_bins = [0, 999, 1999, 5000]

# labels
size_labels = ["Small (<100)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
pd.cut(raw_summary_table["Total Students"], size_bins,  labels=size_labels, include_lowest=True)

In [ ]:
raw_summary_table["School Size"] = pd.cut(raw_summary_table["Total Students"], size_bins,  labels=size_labels, include_lowest=True)
raw_summary_table

In [ ]:
# groupby school size
size_groups = raw_summary_table.groupby("School Size")
size_groups

In [ ]:
# AVERAGES AND PERCENTAGES BY SCHOOL SIZE
size_groups[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()

In [ ]:
# ---------------------------------------------------------------------------------------------------------
# SCORES BY SCHOOL TYPE
# ---------------------------------------------------------------------------------------------------------

In [ ]:
raw_summary_table["School Type"].count

In [ ]:
# groupby school types
type_groups = raw_summary_table.groupby("School Type")

In [ ]:
# AVERAGES AND PERCENTAGES BY SCHOOL TYPE
type_groups[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]].mean()